src/it/tita/src/test/resources/json-module-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    <configuration-properties file="${applicationsConfigProperties}"/>
    <api-gateway:autodiscovery apiId="${api}" flowRef="json-validation-flow"/>

    <http:listener-config name="localListenerConfig">
        <http:listener-connection host="localhost" port="${port}" protocol="HTTP"/>
    </http:listener-config>

    <flow name="json-validation-flow">
        <http:listener config-ref="localListenerConfig" path="/validate" allowedMethods="GET"/>
        <set-payload value='#[[&#10;  {"a": "1", "b": "1"},&#10;  {"a": "1", "b": "1"},&#10;  {"a": "1", "b": "1"},&#10;]]' />
        <ee:transform >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <json:validate-schema schema="schema.json"/>
    </flow>

</mule>