src/test/resources/validate-schema-arbitrary-precision-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">


    <flow name="validateWithArbitraryPrecision">
        <json:validate-schema schema="#[vars.schema]" allowArbitraryPrecision="true"/>
    </flow>

    <flow name="validateWithoutArbitraryPrecision">
        <json:validate-schema schema="#[vars.schema]" allowArbitraryPrecision="false"/>
    </flow>

</mule>
